@import "../../style/variable";

.root {
  display: grid;
  width: 100vw;
  height: calc(100vh - 70px);
  grid-template-columns: 300px auto;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #766B6B;
}

.avatar {
  margin-top: 40px;
}

.name {
  margin-top: 10px;
  font-size: 20px;
}

.info {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
}

.info_input {
  margin-top: 20px;
  font-size: 14px;
  width: calc(100% - 90px);
  background: $background;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
}

.info_btn {
  margin-top: 10px;
  background: $background;
  padding: 5px;
  border: none;
  font-size: 14px;
  border-radius: 2px;
  color: #fff;
}

.circle {
  width: 100px;
  height: 100px;
  background: #E8A87E;
  border-radius: 50%;
  padding: 28px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  line-height: 1.4;
}

.main {
  display: grid;
  grid-template-rows: auto 80px;
  height: calc(100vh - 70px);
}

.list {
  overflow: auto;
  max-height:100%;
}

.list_item {
  display: flex;
  margin-bottom: 10px;
}

.user_avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  overflow: hidden;

  img {
    width: calc(100% - 20px);
  }

  span {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }
}

.message {
  max-width: 500px;
  background: $primary;
  border-radius: 14px;
  padding: 10px 15px;
  position: relative;
  margin-left: 20px;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 15px;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid $primary;
  }
}

.time {
  align-self: flex-end;
  font-size: 12px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.list_item_me {
  flex-direction: row-reverse;
  .message {
    margin-left: 0;
    margin-right: 20px;

    &::before {
      left: unset;
      right: -10px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left:10px solid $primary;
      border-right: none;
    }
  }

  .time {
    margin-left: 0;
    margin-right: 8px;
  }
}

.sender {
  background: #968686;
  margin: 15px;
  display: flex;
}

.sender_icon {
  display: flex;
  align-items: center;
  margin: 5px 15px;
  border-right: 1px solid #C4B1B1;

  span {
    color: #fff;
    margin: 0 4px;
  }
}

.sender_text {
  border: none;
  background: none;
  width: 100%;
  color: #fff;

  &:focus {
    outline: none;
  }
}

.sender_btn {
  background: none;
  border: none;
  margin: 0;
  color: $background;
}